<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="author" content="Troy Salmond">
    <meta name="keywords" content="html, css, js, python, flask, database">
    <meta name="description" content="Creating a simple database with flask">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, max-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>DataBase Site</title>
  </head>
  <body>
    {% block content%}
    {% endblock %}




  <script src="/static/js/script.js" charset="utf-8"></script>
  </body>
</html>
